<p-tabView>
    <p-tabPanel header="Device info">
        <div class="ui-g ui-fluid device_info">
            <div class="ui-g-12 ui-md-4">
                <div>
                    <span class="ui-g-5 "><label>Control#</label></span>
                    <span class="ui-g-7"><input type="text" pInputText > </span>    
                </div>
            </div>
            <div class="ui-g-12 ui-md-4">
                <div>
                    <span class="ui-g-5 "><label>Serial#</label></span>
                    <span class="ui-g-7"><input type="text" pInputText > </span>    
                </div>
            </div>
            <div class="ui-g-12 ui-md-4">
                <div>
                    <span class="ui-g-5 "><label>End of support</label></span>
                    <span class="ui-g-7"><input type="text" pInputText > </span>    
                </div>
            </div>
        </div>
        <div class="ui-g ui-fluid device_info">
            <div class="ui-g-12 ui-md-4">
                <div>
                    <span class="ui-g-5 "><label>Entity</label></span>
                    <span class="ui-g-7"><input type="text" pInputText > </span>    
                </div>
            </div>
            <div class="ui-g-12 ui-md-4">
                <div>
                    <span class="ui-g-5 "><label>Software version</label></span>
                    <span class="ui-g-7"><input type="text" pInputText > </span>    
                </div>
            </div>
            <div class="ui-g-12 ui-md-4">
                <div>
                    <span class="ui-g-5 "><label>Equipment status</label></span>
                    <span class="ui-g-7"><p-dropdown  [autoWidth] ="false"  placeholder="Select a Group"></p-dropdown>  </span>    
                </div>
            </div>
        </div>
        <div class="ui-g ui-fluid device_info">
            <div class="ui-g-12 ui-md-4">
                <div>
                    <span class="ui-g-5 "><label>Entity group</label></span>
                    <span class="ui-g-7"><input type="text" pInputText > </span>    
                </div>
            </div>
            <div class="ui-g-12 ui-md-4">
                <div>
                    <span class="ui-g-5 "><label>UMDNS</label></span>
                    <span class="ui-g-7"><input type="text" pInputText > </span>    
                </div>
            </div>
            <div class="ui-g-12 ui-md-4">
                <div>
                    <span class="ui-g-5 "><label>Date Retired</label></span>
                    <span class="ui-g-7"><input type="text" pInputText > </span>    
                </div>
            </div>
        </div>
        <div class="ui-g ui-fluid device_info">
            <div class="ui-g-12 ui-md-4">
                <div>
                    <span class="ui-g-5 "><label>Vendor System ID</label></span>
                    <span class="ui-g-7"><input type="text" pInputText > </span>    
                </div>
            </div>
            <div class="ui-g-12 ui-md-4">
                <div>
                    <span class="ui-g-5 "><label>Building</label></span>
                    <span class="ui-g-7"><input type="text" pInputText > </span>    
                </div>
            </div>
            <div class="ui-g-12 ui-md-4">
                <div>
                    <span class="ui-g-12 label_heading"><label>Equipment & Battery</label></span>
                </div>
            </div>
        </div>
        <div class="ui-g ui-fluid device_info">
            <div class="ui-g-12 ui-md-4">
                <div>
                    <span class="ui-g-5 "><label>Main Control#</label></span>
                    <span class="ui-g-7"><input type="text" pInputText > </span>    
                </div>
            </div>
            <div class="ui-g-12 ui-md-4">
                <div>
                    <span class="ui-g-5 "><label>Room</label></span>
                    <span class="ui-g-7"><input type="text" pInputText > </span>    
                </div>
            </div>
            <div class="ui-g-12 ui-md-4">
                <div>
                    <span class="ui-g-5 "><label>Date Retired</label></span>
                    <span class="ui-g-7"><p-dropdown  [autoWidth] ="false"  placeholder="Dept Check"></p-dropdown>  </span>    
                </div>
            </div>
        </div>
        <div class="ui-g ui-fluid device_info">
            <div class="ui-g-12 ui-md-4">
                <div>
                    <span class="ui-g-5 "><label>Facility Asset#</label></span>
                    <span class="ui-g-7"><input type="text" pInputText > </span>    
                </div>
            </div>
            <div class="ui-g-12 ui-md-4">
                <div>
                    <span class="ui-g-5 "><label>Location</label></span>
                    <span class="ui-g-7"><input type="text" pInputText > </span>    
                </div>
            </div>
            <div class="ui-g-12 ui-md-4">
                <div>
                    <span class="ui-g-5 "><label>Eq tech level</label></span>
                    <span class="ui-g-7"><p-dropdown  [autoWidth] ="false"  placeholder="Equip Tech Level"></p-dropdown>  </span>    
                </div>
            </div>
        </div>
        <div class="ui-g ui-fluid device_info">
            <div class="ui-g-12 ui-md-4">
                <div>
                    <span class="ui-g-5 "><label>Prior Control#</label></span>
                    <span class="ui-g-7"><input type="text" pInputText > </span>    
                </div>
            </div>
            <div class="ui-g-12 ui-md-4">
                <div>
                    <span class="ui-g-5 "><label>Service Model</label></span>
                    <span class="ui-g-7"><p-dropdown  [autoWidth] ="false"  placeholder="Service Model"></p-dropdown> </span>    
                </div>
            </div>
            <div class="ui-g-12 ui-md-4">
                <div>
                    <span class="ui-g-5 "><label>Eq physical cond.</label></span>
                    <span class="ui-g-7"><p-dropdown  [autoWidth] ="false"  placeholder="Equip Physical cond"></p-dropdown>  </span>    
                </div>
            </div>
        </div>
        <div class="ui-g ui-fluid device_info">
            <div class="ui-g-12 ui-md-4">
                <div>
                    <span class="ui-g-5 "><label>Cost Centre (Dept)</label></span>
                    <span class="ui-g-7"><p-dropdown  [options]="dropdown.costCenter" [autoWidth] ="false"  placeholder="Cost Centre"></p-dropdown> </span>    
                </div>
            </div>
            <div class="ui-g-12 ui-md-4">
                <div>
                    <span class="ui-g-5 "><label>Equipment Owner</label></span>
                    <span class="ui-g-7"><p-dropdown  [autoWidth] ="false"  placeholder="Equipment Owner"></p-dropdown> </span>    
                </div>
            </div>
            <div class="ui-g-12 ui-md-4">
                <div>
                    <span class="ui-g-5 "><p-checkbox name="group1" value="Has battery" label="Has battery"></p-checkbox></span>
                      
                </div>
            </div>
        </div>
        <div class="ui-g ui-fluid device_info">
            <div class="ui-g-12 ui-md-4">
                <div>
                    <span class="ui-g-5 "><label>Cost Centre (Exp)</label></span>
                    <span class="ui-g-7"><p-dropdown  [autoWidth] ="false"  placeholder="Cost Centre"></p-dropdown> </span>    
                </div>
            </div>
            <div class="ui-g-12 ui-md-4">
                <div>
                    <span class="ui-g-5 "><label>Purchasing Info</label></span>
                        
                </div>
            </div>
            <div class="ui-g-12 ui-md-4">
                <div>
                    <span class="ui-g-5 "><label>Battery#</label></span>
                    <span class="ui-g-7"><input type="text" pInputText > </span>    
                </div>
            </div>
        </div>
        <div class="ui-g ui-fluid device_info">
            <div class="ui-g-12 ui-md-4">
                <div>
                    <span class="ui-g-5 "><label>Manufacturer</label></span>
                    <span class="ui-g-7"><p-dropdown  [autoWidth] ="false"  placeholder="Manufacturer"></p-dropdown> </span>    
                </div>
            </div>
            <div class="ui-g-12 ui-md-4">
                <div>
                    <span class="ui-g-5 "><label>Purchase Date</label></span>
                    <span class="ui-g-7"><input type="text" pInputText > </span>
                        
                </div>
            </div>
            <div class="ui-g-12 ui-md-4">
                <div>
                    <span class="ui-g-5 "><label>Battery last change</label></span>
                    <span class="ui-g-7"><input type="text" pInputText > </span>    
                </div>
            </div>
        </div>
        <div class="ui-g ui-fluid device_info">
            <div class="ui-g-12 ui-md-4">
                <div>
                    <span class="ui-g-5 "><label>Alt Manufacturer</label></span>
                    <span class="ui-g-7"><input type="text" pInputText > </span>  
                </div>
            </div>
            <div class="ui-g-12 ui-md-4">
                <div>
                    <span class="ui-g-5 "><label>Purchase Vendor</label></span>
                    <span class="ui-g-7"><p-dropdown  [autoWidth] ="false"  placeholder="Purchase Vendor"></p-dropdown> </span>
                        
                </div>
            </div>
            <div class="ui-g-12 ui-md-4">
                <div>
                    <span class="ui-g-5 "><label>Battery next change</label></span>
                    <span class="ui-g-7"><input type="text" pInputText > </span>    
                </div>
            </div>
        </div>
        <div class="ui-g ui-fluid device_info">
            <div class="ui-g-12 ui-md-4">
                <div>
                    <span class="ui-g-5 "><label>Device Type / Desc</label></span>
                    <span class="ui-g-7"><p-dropdown  [autoWidth] ="false"  placeholder="Purchase Vendor"></p-dropdown> </span>  
                </div>
            </div>
            <div class="ui-g-12 ui-md-4">
                <div>
                    <span class="ui-g-5 "><label>Purchase cost</label></span>
                    <span class="ui-g-7"><input type="text" pInputText > </span>
                        
                </div>
            </div>
            <div class="ui-g-12 ui-md-4">
                <div>
                    <span class="ui-g-5 "><p-checkbox name="group1" value="Has battery" label="Has Service Manual"></p-checkbox></span>
                    <span class="ui-g-7"><p-checkbox name="group1" value="Has battery" label="Has Operator Manual"></p-checkbox> </span>    
                </div>
            </div>
        </div>
        <div class="ui-g ui-fluid device_info">
            <div class="ui-g-12 ui-md-4">
                <div>
                    <span class="ui-g-5 "><label>Alt Description</label></span>
                    <span class="ui-g-7"><input type="text" pInputText > </span>  
                </div>
            </div>
            <div class="ui-g-12 ui-md-4">
                <div>
                    <span class="ui-g-5 "><label>PO Number</label></span>
                    <span class="ui-g-7"><input type="text" pInputText > </span>
                        
                </div>
            </div>
            <div class="ui-g-12 ui-md-4">
                <div>
                    <span class="ui-g-5 "><label>Comments</label></span>
                    <span class="ui-g-7"><input type="text" pInputText > </span>    
                </div>
            </div>
        </div>
        <div class="ui-g ui-fluid device_info">
            <div class="ui-g-12 ui-md-4">
                <div>
                    <span class="ui-g-5 "><label>Common Name</label></span>
                    <span class="ui-g-7"><input type="text" pInputText > </span>  
                </div>
            </div>
            <div class="ui-g-12 ui-md-4">
                <div>
                    <span class="ui-g-5 "><label>Mfg Date</label></span>
                    <span class="ui-g-7"><input type="text" pInputText > </span>
                        
                </div>
            </div>
            <div class="ui-g-12 ui-md-4">
                
            </div>
        </div>
        <div class="ui-g ui-fluid device_info">
            <div class="ui-g-12 ui-md-4">
                <div>
                    <span class="ui-g-5 "><label>Model</label></span>
                    <span class="ui-g-7"><input type="text" pInputText > </span>  
                </div>
            </div>
            <div class="ui-g-12 ui-md-4">
                <div>
                    <span class="ui-g-5 "><label>Date in Service</label></span>
                    <span class="ui-g-7"><input type="text" pInputText > </span>
                        
                </div>
            </div>
            <div class="ui-g-12 ui-md-4">
                
            </div>
        </div>
    </p-tabPanel>
    <p-tabPanel header="Warranty">
        <div class="ui-g ui-fluid device_info">
            <div class="ui-g-12 ui-md-4">
                <div>
                    <span class="ui-g-5 "><label>Warranty Info</label></span>  
                </div>
            </div>
        </div>
        <div class="ui-g ui-fluid device_info">
            <div class="ui-g-12 ui-md-4">
                <div>
                    <span class="ui-g-5 "><label>Device id</label></span>
                    <span class="ui-g-7"><p-dropdown  [autoWidth] ="false"  placeholder="Purchase Vendor"></p-dropdown> </span>    
                </div>
            </div>
            <div class="ui-g-12 ui-md-4">
                <div>
                    <span class="ui-g-5 "><label>Risk Score</label></span>
                    <span class="ui-g-7"><input type="text" pInputText > </span>
                        
                </div>
            </div>
            <div class="ui-g-12 ui-md-4">
                <div>
                    <span class="ui-g-5 "><label>PM Procedure</label></span>
                    <span class="ui-g-7"><p-dropdown  [autoWidth] ="false"  placeholder="PM Procedure"></p-dropdown> </span>    
                </div>
            </div>
        </div>
        <div class="ui-g ui-fluid device_info">
            <div class="ui-g-12 ui-md-4">
                <div>
                    <span class="ui-g-5 "><label>Vendor</label></span>
                    <span class="ui-g-7"><p-dropdown  [autoWidth] ="false"  placeholder="Purchase Vendor"></p-dropdown> </span>    
                </div>
            </div>
            <div class="ui-g-12 ui-md-4">
                <div>
                    <span class="ui-g-5 "><label>Priority</label></span>
                    <span class="ui-g-7"><input type="text" pInputText > </span>
                        
                </div>
            </div>
            <div class="ui-g-12 ui-md-4">
                <div>
                    <span class="ui-g-5 "><label>Responsible Tech</label></span>
                    <span class="ui-g-7"><p-dropdown  [autoWidth] ="false"  placeholder="Purchase Vendor"></p-dropdown> </span>    
                </div>
            </div>
        </div>
        

    </p-tabPanel>
    <p-tabPanel header="ePHI & alarm">
        Content 3    
    </p-tabPanel>
    <p-tabPanel header="N/W info">
        Content 3    
    </p-tabPanel>
</p-tabView>