.device_info span{
    display: inline-block;
}
.ui-g-5, .ui-g-7{
    padding: 0px;
}
.label_heading{
    padding: 0px;
    font-weight: bold;
}
label{
    vertical-align: -webkit-baseline-middle;
    font-size: 14px;
}
p-checkbox{
    font-size: 14px;
}
.infoFooter{
    padding: 16px;
    border-top:1px solid #ededed;
    display: block;
}