<p-panel >
    <p-header>
        Master creation
    </p-header>
    <div class="ui-g ui-fluid">
        <div class="ui-g-12 ui-md-3">
            <div class="ui-inputgroup">
                <label>Masters group Name:</label>
            </div>
        </div>
        <div class="ui-g-12 ui-md-4">
            <p-dropdown [options]="master.groupName" [autoWidth] ="false" [(ngModel)]="master.groupName"></p-dropdown>    
        </div>
    </div>
    <div class="ui-g ui-fluid">
        <div class="ui-g-12 ui-md-3">
            <div class="ui-inputgroup">
                <label>Code:</label>
            </div>
        </div>
        <div class="ui-g-12 ui-md-4">
            <input type="text" pInputText placeholder="Code" [(ngModel)]="master.code">     
        </div>
    </div>
    <div class="ui-g ui-fluid">
        <div class="ui-g-12 ui-md-3">
            <div class="ui-inputgroup">
                <label>Description:</label>
            </div>
        </div>
        <div class="ui-g-12 ui-md-4">
            <input type="text" pInputText placeholder="Description" [(ngModel)]="master.description">    
        </div>
    </div>
    <div class="ui-g ui-fluid">
        <div class="ui-g-12 ui-md-3">
            <div class="ui-inputgroup">
                <label>Sort Order:</label>
            </div>
        </div>
        <div class="ui-g-12 ui-md-4">
            <input type="text" pInputText placeholder="Sort Order" [(ngModel)]="master.sortOrder">     
        </div>
    </div>
    <div class="ui-g ui-fluid">
        <div class="ui-g-12 ui-md-3">
            <div class="ui-inputgroup">
                <label>Active:</label>
            </div>
        </div>
        <div class="ui-g-12 ui-md-4">
            <p-dropdown [options]="master.active" [autoWidth] ="false"  [(ngModel)]="master.active" ></p-dropdown>    
        </div>
    </div>
    <div class="ui-g ui-fluid">
        <div class="ui-g-12 ui-md-3">
            <div class="ui-inputgroup">
                <label>Short ID:</label>
            </div>
        </div>
        <div class="ui-g-12 ui-md-4">
            <input type="text" pInputText placeholder="Short ID" [(ngModel)]="master.shortId">     
        </div>
    </div>
    <div class="ui-g ui-fluid">
        <div class="ui-g-12 ui-md-3">
            <div class="ui-inputgroup">
                <label>Schedule:</label>
            </div>
        </div>
        <div class="ui-g-12 ui-md-4">
            <p-dropdown [options]="groups" [autoWidth] ="false"  [(ngModel)]="master.schedule"></p-dropdown>    
        </div>
    </div>
    <p-footer>
        <button pButton type="button" icon="fa-check" iconPos="left" class="text-right ui-button-info" label="Save"></button>
    </p-footer>
</p-panel>

