<p-panel >
    <p-header>
        Hospital creation
    </p-header>
    <div class="ui-g ui-fluid">
        <div class="ui-g-12 ui-md-6">
            <div class="ui-inputgroup">
                <span class="ui-inputgroup-addon"><i class="fa fa-hospital-o"></i></span>
                <input type="text" pInputText placeholder="Hospital Name">         
            </div>
        </div>
        <div class="ui-g-12 ui-md-6">
            <div class="ui-inputgroup">
                <span class="ui-inputgroup-addon"><i class="fa fa-h-square"></i></span>
                <input type="text" pInputText placeholder="Entity Group">         
            </div>
        </div>
    </div>
    <div class="ui-g ui-fluid">
        <div class="ui-g-12 ui-md-6">
            <div class="ui-inputgroup">
                <span class="ui-inputgroup-addon"><i class="fa fa-mobile"></i></span>
                <input type="number" pInputText placeholder="Contact Number">         
            </div>
        </div>
        <div class="ui-g-12 ui-md-6">
            <div class="ui-inputgroup">
                <span class="ui-inputgroup-addon"><i class="fa fa-envelope"></i></span>
                <input type="email" pInputText placeholder="Email">         
            </div>
        </div>
    </div>
    <div class="ui-g ui-fluid">
        <div class="ui-g-12 ui-md-6">
            <div class="ui-inputgroup">
                <span class="ui-inputgroup-addon"><i class="fa fa-address-book"></i></span>
                <input type="text" pInputText placeholder="Address">         
            </div>
        </div>
        <div class="ui-g-12 ui-md-6">
            <div class="ui-inputgroup">
                <span class="ui-inputgroup-addon"><i class="fa fa-sticky-note"></i></span>
                <input type="text" pInputText placeholder="Notes">         
            </div>
        </div>
    </div>
    <p-footer>
            <button pButton type="button" icon="fa-check" iconPos="left" class="text-right ui-button-primary" label="Save"></button>

    </p-footer>
</p-panel>