<p-panel >
    <p-header>
        User creation
    </p-header>
<div class="ui-g ui-fluid">
    <div class="ui-g-12 ui-md-6">
        <div class="ui-inputgroup">
            <span class="ui-inputgroup-addon"><i class="fa fa-user"></i></span>
            <input type="text" pInputText placeholder="Username" [(ngModel)]="user.userName">         
        </div>
    </div>
    <div class="ui-g-12 ui-md-6">
        <div class="ui-inputgroup">
            <span class="ui-inputgroup-addon"><i class="fa fa-lock"></i></span>
            <input type="password" pPassword placeholder="Password" [(ngModel)]="user.password"/>       
        </div>
    </div>
</div>
<p-footer>
            <button pButton type="button" icon="fa-plus" iconPos="left" class="text-right ui-button-primary" label="Create"></button>
    </p-footer>
</p-panel>